
html{
  height: 100%;
}

body {
  background-image: url(./img/travel2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}


h1{
  text-align: center;
}

form{
  text-align: center;
}

.badge{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px !important;
  justify-content: center;
  display: block !important;
  width: 10%;
}

#title{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px !important;
  justify-content: center;
  display: block !important;
  width: 25%;
}

img{
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
 display: block;
 border-radius: 50px;
}

.movie{
  width: 50%;
}

